{%extends 'base.html' %}
{%block title%} Abednego Tenge | About{%endblock%}


{%block content%}
<div class="cover">
    <div class="basket">
        <div class="cone">
            <div class="entry">
                <h2 class="title">ACADEMIC BACKGROUND</h2>
            </div>
            <div class="details">
                <p class="year"><strong>2022 - 2025</strong></p>
                <p class="degree"><strong>B.A Information Science, University of Ghana.</strong></p>
                <p class="description">Acquired knowledge in information management, data organization, and research methodologies.</p>
            </div>
        </div>
        <div class="cone">
            <div class="entry">
                <h2 class="title">PROFESSIONAL EXPERIENCE</h2>
            </div>
            <div class="details">
                <p class="year"><strong>APRIL - MAY, 2024</strong></p>
                <p class="degree"><strong>Intern @ Ghana Revenue Authority.</strong></p>
                <p class="description">Acquired knowledge in information management, data organization, and research methodologies.</p>
            </div>
            <div class="details">
                <p class="year"><strong>2025 - PRESENT</strong></p>
                <p class="degree"><strong>Freelance Python Developer.</strong></p>
                <p class="description">Acquired knowledge in information management, data organization, and research methodologies.</p>
            </div>
        </div>
    </div>
    <div class="leisure">
        <h2 class="hobbies">Beyond the code</h2>
        <h2 style="color: whitesmoke; font-family: Arial, Helvetica, sans-serif; font-size: xx-large;">Personal Interests</h2>
        <p style="color: white; font-size: 20px; margin-bottom: 40px;">When i'm not coding, I enjoy playing video games or watching movies.</p>
        <p style="margin-left: 20px; color: yellowgreen; font-weight: bolder;"><strong>Continous Learning</strong></p>
        <p style="color: white; margin-left: 20px;">Always eager to learn new skills and stay update with industry trends.</p>
        <p style="margin-left: 20px; color: yellowgreen; font-weight: bolder;"><strong>Outdoor Adventures</strong></p>
        <p style="color: white; margin-left: 20px;">More of an introvert. I like going out for walk to unwind and recharge.</p>
    </div>
</div>
{%endblock%}