<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link>{% block style%}{%endblock%}</link>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    {%block content%}{%endblock%}
    <footer class="footer">
        <div class="copyright">
            <p>&copy; {{ current_year }} Abednego Tenge. All rights reserved.</p>
        </div>
        <div class="socials">
            <nav>
                <ul>
                    <li><a href="https://github.com/abednegotenge"><img src="/static/github.png" alt="Github" height="25"></a></li>
                    <li><a href="https://www.linkedin.com/in/abednegotenge"><img src="/static/linkedin.png" alt="LinkedIn" height="25"></a></li>
                    <li><a href="https://x.com/tenge_abed66550"><img src="/static/twitter.png" alt="Twitter" height="25"></a></li>
                    <li><a href="https://www.instagram.com/junior.abed/"><img src="/static/instagram.png" alt="Instagram" height="25"></a></li>
                </ul>
            </nav>
        </div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
    const cards = document.querySelectorAll('.card');

    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('visible');
                observer.unobserve(entry.target);
            }
        });
    }, {
        threshold: 0.1
    });

    cards.forEach(card => {
        observer.observe(card);
    });
});

document.addEventListener('DOMContentLoaded', function() {
    const links = document.querySelectorAll('header a');

    links.forEach(link => {
        link.addEventListener('click', function() {
            links.forEach(l => l.classList.remove('active'));
            this.classList.add('active');
        });
    });
});
    </script>
</body>
</html>